@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-16xl: 35px;
  --font-size-21xl: 40px;
  --font-size-6xl: 25px;

  /* Colors */
  --test-two-bg-color: #398fa1;
  --color-white: #fff;
  --color-black: #000;
  --testtwo-head-color: #e4f0ef;

  /* border radiuses */
  --br-214xl: 233px;
}
